* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    line-height: 1.4;
}

body {
    background-image: url('/bulletin-board.jpg');
}

#page {
    display: grid;
    grid-template-areas:
        "head head"
        "nav  main"
        "foot foot";
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 150px 1fr;
}

#page>header {
    grid-area: head;
    background-color: #8ca0ff;
}

#page>nav {
    grid-area: nav;
    background-color: #ffa08c;
}

nav input {
    width: 100%;
}

#page>main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: space-between;
    min-height: calc(100vh - 100px);
    padding: 1em 0 0 1em;
    gap: 1rem;
}

.card {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-end;
    border: 1px solid red;
}

img {
    grid-area: img;
    object-fit: cover;
    width: 100%;
    height: 90%;
    cursor: pointer;
}

.card-body {
    grid-area: body;
    height: 10%;
    display: grid;
    grid-template-areas:
        "title"
        "text"
        "link";
    grid-template-rows: 25% 50% 25%;
    background: #fff;
}

.card-body .card-title {
    grid-area: title;
}

.card-body {}

.card {}

.card-text {
    grid-area: text;
    font-size: 130%;
    font-size: 1.357vw;
    margin: 1% auto;
}

.card-body .btn {
    grid-area: link;
}

#image-template {
    position: relative;
}

.image-component {
    border: 3px solid red;
    background: pink;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-end;
}

.image-component header {
    height: 50px;
}

.image-component img {
    height: 300px;
}

#canvas {
    border: 5px solid yellow;
}

.close-btn:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    margin: auto;
    background-color: #fff;
    height: 50px;
    width: 50px;
    z-index: 2;
}

.close-btn {
    position: relative;
    /*
    top: 50px;
    right: 50px;
    height: 70px;
    */
    width: 70px;
    border: 0;
    border-radius: 0;
    outline: none;
    padding: 0;
    background: transparent;
    vertical-align: bottom;
    cursor: pointer;
    z-index: 5;
}

.close-btn:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.07);
    height: 70px;
    width: 70px;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.close-btn span {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #000;
    display: block;
    width: 20px;
    height: 1px;
    top: 0;
    z-index: 3;
}

.close-btn span:nth-child(1) {
    top: 0px;
    transform: rotate(-45deg);
}

.close-btn span:nth-child(2) {
    top: 0px;
    transform: rotate(45deg);
}

#page>footer {
    grid-area: foot;
    background-color: #8cffa0;
}