* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Lora', serif; */
    font-family: 'Oswald', sans-serif;
}

/* smartphones, iPhone, portrait 480x320 phones */
#page {
    position: relative;
}

#upload_image>* {
    font-size: 16px;
    width: 90%;
}

#upload_image_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#upload_image {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background: #fff;
}

#upload_image header, footer {
    display: flex;
    position: relative;
    margin: 10px 0 5px 0;
    height: 8vh !important;
}

#upload_image footer {
    justify-content: center;
    align-items: center;
}

#upload_image header img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 95%;
    padding: 7px;
    cursor: pointer;
}

#upload_image header h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
}

#file-wrapper, input#file-input+label {
    display: block;
    cursor: pointer;
    border: 1px solid #aaa;
    padding: 5px 0 5px 5px;
    border-radius: 4px;
    height: 100%;
    height: 20vh;
}

#upload_image .labels {
    position: relative;
    font-size: 11px;
}

#upload_image input {
    background: #ddd;
    border: 1px solid #ccc;
    padding: 10px;
}

#upload_image input#file-input {
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
    position: absolute;
}

#upload_image button {
    margin-top: 5px;
    border: 2px solid #ccc;
}

#upload_image header img:active {
    border: 4px solid #aaa;
    border-radius: 4px;
}

#upload_image input:active, #upload_image input:focus {
    background: #fff;
}

#upload_image button:active {
    background: #aaa;
}

@media (min-width:481px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    #upload_image>* {
        font-size: 16px;
        width: 90%;
    }

    #upload_image .labels.file {
        height: 50vw;
        font-size: 20px;
    }

    #file {
        top: 65%;
    }

    #upload_image h3 {
        font-size: 25px;
    }

    #upload_image .labels {
        margin-top: 1vh;
        font-size: 13px;
    }
}

@media (min-width:641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    #upload_image {
        border-radius: 4px;
        position: fixed;
        height: 90vh;
        width: 60%;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
    }

    #upload_image header, footer {
        height: 9vh !important;
    }

    #upload_image>* {
        font-size: 18px;
        width: 75%;
    }

    #upload_image .labels.file {
        height: 35vw;
        font-size: 20px;
    }

    #file {
        top: 65%;
    }

    #upload_image h3 {
        font-size: 25px;
    }

    #upload_image .labels {
        margin-top: 1vh;
        font-size: 16px;
    }
}

@media (min-width:961px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    #upload_image>* {
        font-size: 18px;
        width: 60%;
    }

    #upload_image .labels.file {
        height: 35vw;
        font-size: 24px;
    }

    #upload_image h3 {
        font-size: 25px;
    }

    #upload_image .labels {
        font-size: 16px;
    }
}

@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    #upload_image .labels.file {
        height: 25vw;
        font-size: 24px;
    }
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}