#tags-wrapper {
    width: 95%;
    padding-top: 0 !important;
}

#tags {
    float: left;
    display: inline;
    padding: 5px 2px;
}

#tags span.tag {
    float: left;
    cursor: pointer;
    color: navy;
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 0 2px;
}

#tags span.removeTag {
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 0 2px;
    float: left;
    cursor: pointer;
}